<md-dialog aria-label="Create Card" flex="60">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Card</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-padding ng-show="!editingDescription">
            <div layout="row">
                <md-input-container flex="50">
                    <label>Header</label>
                    <input ng-model="holder.card.header">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Select Page</label>
                    <md-select ng-model="holder.card.page">
                        <md-option ng-repeat="page in pages" ng-value="page.page" >
                            {{page.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Event Date</label>
                    <md-datepicker ng-model="holder.card.date" md-placeholder="Event Date" flex="50"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Event Time (hh:mm AM/PM)</label>
                    <input ng-model="holder.card.time">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>YouTube Video ID</label>
                    <input ng-model="holder.card.videoId">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>URL</label>
                    <input ng-model="holder.card.url">
                </md-input-container>
            </div>
            <span layout="row" layout-align="start center"> Description <md-button class="material-icons" ng-click="editDescription()">edit</md-button></span>
            <p ng-show="!!descriptionDisplay">{{descriptionDisplay}}</p>
            <div layout="row" layout-align="start center" layout-margin>
                <md-checkbox ng-model="holder.card.includeOnHome" ng-if="holder.card.page!=='home'" aria-label="Include on Home Page">
                    Include on Home Page
                </md-checkbox>
                <md-checkbox ng-model="is.featuredInstrument" ng-if="holder.card.page==='home'" aria-label="Feature Instrument">
                    Feature an Instrument
                </md-checkbox>
                <div ng-show="is.featuredInstrument" flex>
                    <md-input-container flex>
                        <label>Instrument ID</label>
                        <input ng-model="holder.card.instrumentId">
                    </md-input-container>
                </div>
            </div>
            <md-datepicker ng-model="holder.card.expiresOn" md-placeholder="Expires On"></md-datepicker>
            <md-button class="md-primary md-raised" flex="25">
                <label for="file-input">Choose Image(s)</label>
            </md-button>
            <input id="file-input"
                   type='file'
                   ng-model="uploadedImages"
                   parser="resizeImage"
                   base-sixty-four-input
                   maxsize="1000"
                   multiple
                   ng-show="false"
            >
            <div ng-show="holder.images.length > 0" layout="row" layout-padding class="scroll-wrapper" >
                <div class="scrolls">
                <span ng-repeat="image in holder.images">
                    <img ng-src="{{image.base64.full}}" width="150px" max-height="100%"/>
                    <md-button style="position:relative;top:-160px; right:25px" class="md-fab md-mini material-icons" ng-click="removeImage($index)">close</md-button>
                </span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-content ng-show="editingDescription">
            <textarea ng-wig="descrip" class="editor1"></textarea>
            <div layout="row" layout-padding layout-align="end">
                <md-button ng-click="saveDescription(descrip)">Save</md-button>
            </div>
        </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="submit(holder)" ng-show="!holder.card._id">
            Create
        </md-button>
        <md-button ng-click="submit(holder)" ng-show="!!holder.card._id">
            Update
        </md-button>
    </md-dialog-actions>
</md-dialog>