<md-dialog aria-label="Create Card" flex="60">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="!inventoryItem._id">Update {{inventoryItem.name}}</h2>
                <h2 ng-show="!!inventoryItem._id">Create Inventory</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" layout-padding>
            <div layout="row" layout-align="start">
                <md-input-container flex="50">
                    <label>Name</label>
                    <input ng-model="inventoryItem.item.name">
                </md-input-container>
            </div>
            <div layout="row" layout-align="start">
                <md-input-container flex="50">
                    <label><em>select instrument type</em></label>
                    <md-select ng-model="inventoryItem.item.type">
                        <md-option ng-repeat="type in types" ng-value="type" >
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="start">
                <md-input-container flex="50">
                    <label>Price</label>
                    <input ng-model="inventoryItem.item.price">
                </md-input-container>
            </div>
            <md-divider></md-divider>
            <md-input-container layout="row" layout-align="start center"> Description <md-button class="material-icons" ng-click="editDescription()">edit</md-button></md-input-container>
            <div ng-show="editingDescription">
                <textarea ng-wig="descrip" class="editor1"></textarea>
                <div layout="row" layout-padding layout-align="end">
                    <md-button ng-click="saveDescription(descrip)">Save</md-button>
                </div>
            </div>
            <p ng-show="!!descriptionDisplay">{{descriptionDisplay}}</p>

            <md-divider></md-divider>
            <label>Images</label>
            <div layout="column">
                <input style="display:inline"
                       type='file'
                       ng-model="uploadedImages"
                       parser="resizeImage"
                       base-sixty-four-input
                       maxsize="1000"
                       multiple
                >
                <div layout="row" layout-padding class="scroll-wrapper">
                    <div class="scrolls">
                        <span ng-repeat="image in inventoryItem.images">
                            <img ng-src="{{image.base64.thumb}}" width="150px" max-height="100%"/>
                            <md-button style="position:relative;top:-160px; right:25px" class="md-fab md-mini material-icons" ng-click="removeImage($index)">close</md-button>
                        </span>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="submit(inventoryItem)">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>