
    <div layout="column" >
        <md-card flex-xs flex-lt-md="100" flex="100" layout-padding>
            <div layout="row" layout-align="center" class="md-headline">{{item.name | titleCase}}</div>
            <md-card-content layout="column">
                <div layout-gt-md="row" layout="column">
                    <div layout="row" layout-align="center" style="margin-bottom: 100px " flex-gt-md="50" flex="50" layout-padding>
                        <md-card-media  class="card-media" layout-padding layout-align="center">
                            <div data-auto="false" fotorama item="images" class="fotorama" data-allowfullscreen="true" data-arrows="true" data-width="100%"  data-maxwidth="400" data-maxheight="100%" data-nav="thumbs" flex>

                            </div>
                            <!--<div ap-fotorama="options" ng-model="images" />
                            <!--<div id="fotoGallery" data-auto="false" fotorama item="images" class="fotorama" data-allowfullscreen="true" data-arrows="true" data-width="100%" data-minwidth="400" data-maxwidth="1000" data-minheight="300" data-maxheight="100%">-->
                        </md-card-media>
                    </div>
                    <p class="md-subheader-content" data-ng-bind-html="description" flex-gt-md="50" flex>
                        {{description}}
                    </p>
                </div>
                <div class="price" layout-margin flex>{{item.price | currency}}</div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goInventory()">
                    <md-icon class="material-icons">chevron_left</md-icon>Back to Inventory
                </md-button>
                <md-button ng-click="openInquire(item)">
                    Inquire
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card layout-align="center" style="height:500px;" ng-if="!!item.videoUrl">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{item.name}} - Video</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout-align="center" >
                <iframe width="420" height="315"
                        ng-src="{{item.videoUrl}}">
                </iframe>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button href="https://www.youtube.com/channel/UCCbmErrdxj5DyunZkBurAFQ">YouTube Channel</md-button>
            </md-card-actions>
        </md-card>
    </div>