<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-content layout="column" layout-padding layout-align="center" >
        <md-input-container>
            <label>Search Inventory</label>
            <input type="text" class="search" ng-model="searchValue" ng-change="search(searchValue)">
        </md-input-container>
        <span layout="row" layout-padding layout-align="center center">

                <md-button class="material-icons" ng-click="addCard('home')">
                    <label>Add Card</label>
                    <i class="material-icons">add</i>
                </md-button>
            </span>
        <div layout="row" layout-align="center" >
            <md-button href="/admin#!/inventory">
                Inventory
            </md-button>
            <md-button class="material-icons" ng-click="addInstrument()">
                add
            </md-button>
        </div>
        <!--div ng-show="showInventory" layout="column">
            <span layout="row" layout-padding layout-align="center center">
                <md-button layout="row" layout-align="start" ng-click="filterGuitar()">
                    Guitars
                </md-button>
            </span>
            <span layout="row" layout-padding layout-align="center center">
                <md-button layout="row" layout-align="start" ng-click="filterBanjo()">
                    Banjos
                </md-button>
            </span>
            <span layout="row" layout-padding layout-align="center center">
                <md-button layout="row" layout-align="start" ng-click="filterMando()">
                    Mandolins
                </md-button>
            </span>
            <span layout="row" layout-padding layout-align="center center">
                <md-button layout="row" layout-align="start" ng-click="filterOther()">
                    Other Instruments
                </md-button>
            </span>
        </div-->
        </md-content>
</md-sidenav>