<md-card layout="column" ng-repeat="page in cards | orderBy:'-date_created'">
    <md-card-title layout="row">
        <div layout-align="start center" flex="50" layout="row">
            <div layout="column">
                <div class="md-headline">{{page.header}}</div>
                <div class="md-subheader">Displays On Page {{page.page}} <span ng-show="!!page.expiresOn">- expires on {{page.expiresOn | date:"MMM dd"}}</span></div>
            </div>
        </div>
        <div layout-align="end center" flex="50" layout="row">
            <div class="md-subheader" ng-show="page.page=='instrument'">{{page.price | currency}}</div>
            <div class="md-subheader" ng-show="!!page.date">{{page.date | date:"MMM dd 'at' h:mma"}}</div>
            <div class="md-subheader" ng-show="!!page.startDate">{{page.startDate}}</div>
            <md-button ng-click="deleteCard($index)" class="material-icons">close</md-button>
        </div>
    </md-card-title>
    <div layout-gt-md="row" layout="column" layout-padding>
        <div ng-show="$odd || !$mdMedia('gt-md')" layout-align="start" layout="row" flex-gt-md="30" flex >
            <md-card-title-media ng-show="!!page.videoId">
                <iframe width="420" height="315"
                        ng-src="{{page.url}}">
                </iframe>
            </md-card-title-media>
            <md-card-title-media ng-show="!!page.images && !page.videoId">
                <div layout-padding class="md-media-md card-media" >
                    <img ng-show="!page.inventory_id" ng-src="http://www.franzkedesigner.com/img/inventory/{{page._id}}/{{page.images[0]}}.png"/>
                    <img ng-show="!!page.inventory_id" ng-src="http://www.franzkedesigner.com/img/inventory/{{page.inventory_id}}/{{page.images[0]}}.png"/>
                </div>
            </md-card-title-media>
        </div>
        <div layout="row" flex-gt-md="70" flex>
            <div layout="column" >
                <md-card-content>
                    <p class="md-subheader-content" data-ng-bind-html="page.description">
                        {{page.description}}
                    </p>
                </md-card-content>
            </div>
        </div>
        <div ng-show="$even && $mdMedia('gt-md')" layout-align="end" layout="row" flex-gt-md="40" flex >
            <md-card-title-media ng-show="!!page.videoId">
                <iframe width="420" height="315"
                        ng-src="{{page.url}}">
                </iframe>
            </md-card-title-media>
            <md-card-title-media ng-show="!!page.images && !page.videoId">
                <div layout-padding class="md-media-md card-media" >
                    <img ng-show="!page.inventory_id" ng-src="http://www.franzkedesigner.com/img/inventory/{{page._id}}/{{page.images[0]}}.png"/>
                    <img ng-show="!!page.inventory_id" ng-src="http://www.franzkedesigner.com/img/inventory/{{page.inventory_id}}/{{page.images[0]}}.png"/>
                </div>
            </md-card-title-media>
        </div>
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="editCard(page)">EDIT</md-button>
        <md-button ng-click="deleteCard($index)">DELETE</md-button>
    </md-card-actions>
</md-card>