<md-dialog aria-label="Create Card">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Card</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" layout-padding>
            <md-select ng-model="card.page">
                <md-option ng-repeat="page in pages" ng-value="page.page" >
                    {{page.name}}
                </md-option>
            </md-select>
            <form ng-model="card" flex>
                <md-checkbox ng-model="featureInstrument" ng-if="card.page==='home'">
                    Feature an Instrument
                </md-checkbox>
                <div ng-show="featureInstrument" flex>
                    <md-input-container flex>
                        <label>Instrument ID</label>
                        <input ng-model="card.instrumentId">
                    </md-input-container>
                </div>
                <div ng-show="!featureInstrument" flex>
                    <md-input-container>
                        <label>Header</label>
                        <input ng-model="card.header">
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-input-container>
                            <label>Description text</label>
                            <input ng-model="text">
                        </md-input-container>
                        <md-button class="material-icons" ng-click="addText(text)">add</md-button>
                    </div>
                    <div layout="column">
                        <p ng-repeat="line in card.lines">{{line}} <md-button class="material-icons" ng-click="removeText($index)">close</md-button></p>
                    </div>
                </div>
                <md-checkbox ng-model="card.includeOnHome" ng-if="card.page!=='home'" aria-label="Checkbox 1">
                    Include on Home Page
                </md-checkbox>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="submit(card)">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>