

<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>

    <!--    <md-toolbar class="md-theme-indigo">

            <h1 class="md-toolbar-tools">Sidenav Left</h1>

        </md-toolbar>-->

    <md-content layout="column" layout-padding layout-align="center" flex>

        <md-input-container ng-if="!isHome">

            <label>Filter</label>

            <md-select ng-model="filter" ng-change="runFilter(filter)" ng-init="filter = 'added'">

                <md-option value="added" selected>Recently Added</md-option>

                <md-option value="PriceAsec">Price: Low to High</md-option>

                <md-option value="PriceDesc">Price: High to Low</md-option>

                <md-option value="AZ">A to Z</md-option>

                <md-option value="ZA">Z to A</md-option>

            </md-select>

        </md-input-container>

        <md-input-container>

            <label>Search Inventory</label>

            <input type="text" class="search" ng-model="searchValue" ng-change="search(searchValue)">

        </md-input-container>

        <!--<md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-1dp" ng-click="filterGuitar()">

            GUITARS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" ng-click="filterBanjo()">

            BANJOS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" ng-click="filterMando()">

            MANDOLINS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" ng-click="filterOther()">

            OTHER INSTRUMENTS

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" href="#/events">

            EVENTS

        </md-button>

        <md-button md-no-ink  style="background-color:#F5BA42" class="md-whiteframe-3dp" layout="row" href="#/repairShop">

            REPAIR SHOP

        </md-button>

        <md-button md-no-ink style="background-color:#F5BA42;" class="md-whiteframe-3dp" layout="row" href="#/ourBrand">

           OUR BRAND

        </md-button>-->
        <div layout="column">
            <md-button layout="row" layout-align="center" class="md-raised md-primary" ng-click="filterGuitar()" style="color:black">
                Guitars
            </md-button>
            <md-divider></md-divider>
            <md-button layout="row" layout-align="center" class="md-raised md-primary" ng-click="filterBanjo()" style="color:black">
                Banjos
            </md-button>
            <md-divider></md-divider>
            <md-button layout="row" layout-align="center" class="md-raised md-primary" ng-click="filterMando()" style="color:black">
                Mandolins
            </md-button>
            <md-divider></md-divider>
            <md-button layout="row" layout-align="center" class="md-raised md-primary" ng-click="filterOther()" style="color:black">
                Other Instruments
            </md-button>
        <md-divider></md-divider>
        <md-button layout="row" layout-align="center" class="md-raised md-primary" ui-sref="events" style="color:black">
            Events
        </md-button>
        <md-divider></md-divider>
            <md-button layout="row" layout-align="center" class="md-raised md-primary" ui-sref="repairShop" style="color:black">
               Repair Shop
            </md-button>
        <md-divider></md-divider>
        <md-button layout="row" layout-align="center" class="md-raised md-primary" ui-sref="ourBrand" style="color:black">
            Our Custom Instruments
        </md-button>
        <md-divider></md-divider>
        <md-button layout="row" layout-align="center" class="md-raised md-primary" ui-sref="ourBrand" style="color:black">
            Online Store
        </md-button>
        </div>

    </md-content>

</md-sidenav>